<div class="row">
  <div class="col-md-2 hidden-sm-down"></div>
  <div class="col-md-8">
    <h1>Welcome</h1>
    <p>Welcome to What Did You Do Today (WDYDT).  WDYDT is a tool for keeping track of 
    everything you do in a day.  It can be used for time management, tracking
    work performed in order to invoice and also for tracking expenses.  In fact,
    just about anything can be tracked in WDYDT.</p>

    <p>To get started create an account or login!</p>
  </div>
  <div class="col-md-2 hidden-sm-down"></div>
</div>
