<%= simple_form_for(@activity, url: specific_activity_path(@activity), remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% @activity_type.activity_form_fields.each do |field| %>
    <%= f.input field %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
