<%= link_to url, { rel: 'prev', remote: remote, class: 'page-link' } do %>
  <span aria-hidden="true">&laquo;</span>
  <span class="sr-only"><%= t('views.pagination.previous').html_safe %></span>
<% end %>
