<div id="ActivitiesActivityModal">
  <%= render "application/activity_modal" %>
</div>
<div id="ActivityTable" class="table-responsive">
  <%= render "activity_table" %>
</div>
<div class="page-navigation pull-xs-right"><%= paginate @activities %></div>
