<% content_for :authenticated_content do %>
<div class="row">
  <div class="col-md-12"><%= content_for?(:activities_content) ? yield(:activities_content) : yield %></div>
</div>

<% end %>
<%= render template: "layouts/authenticated" %>
