<% content_for :content do %>
<div class="row">
  <div class="hidden-sm-down col-md-2 sidebar"><%= render 'navbar' %></div>
  <div class="col-sm-12 col-md-10 col-md-offset-2 main">
    <%= content_for?(:authenticated_content) ? yield(:authenticated_content) : yield %>
  </div>
</div>
</div>
<% end %>
<%= render template: "layouts/application" %>
