<% content_for :authenticated_content do %>
<div class="row">
  <div class="col-md-9">
    <%= content_for?(:calendar_content) ? yield(:calendar_content) : yield %>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="modal fade" id="ActivityModal" tabindex="-1" role="dialog" aria-labelledby="ActivityModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<% end %>
<%= render template: "layouts/authenticated" %>
